.backdrop {
    position: fixed;
    background-color: var(--modal-background);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition-property: opacity, transform, visibility;
    transition-duration: 400ms;
    transition-timing-function: earse;


        &.is-hidden{
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: scale(0.5);
    }
}
