.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item+.contacts__item {
    margin-left: 30px;
}

.contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
    transition-property: color;
    transition-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


        &:hover,
        &:focus {
            color: var(--accent-color);
}
}

.icon {
    fill: currentColor;
}

.contact__icon {
    margin-right: 10px;
}