.feachers__list {
    display: flex;
}

.feachers__item {
    width: 270px;
}

.feachers__item+.feachers__item {
    margin-left: 30px;
}

.feachers__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--acccent-background-color);
    height: 120px;
}

.feachers__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feachers__description {
    margin: 0 0 16px 0;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}