.feachers__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
}

.feachers__item {
    width: 100%;

    @media (min-width: 768px) {
            flex-basis: calc(50% - 15px);
        }
    
    @media (min-width: 1200px) {
        flex-basis: calc(25% - 22.5px);
        }
}

.feachers__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--acccent-background-color);
    height: 120px;
}

.feachers__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }
}

.feachers__description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}