.footer {
    background-color: var(--alternative-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // @media (max-width: 767px) {
    //     flex-direction: column;
    //     align-items: center;
    //     }

    @media (min-width: 768px) {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        }
}

.find-us {
    @media (min-width: 768px){
        min-width: 232px;
    }

    @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.address {
    color: var(--primary-background-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    @media (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__address {
    margin-top: 20px;
}

.address-link {
    display: block;
    color: var(--alternative-text-color);
    text-decoration: none;

    transition-duration: 250ms;
    transition-property: color;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
            }
}

.footer__address-link {
    margin-top: 8px;

    @media (min-width: 1200px) {
        margin-top: 9px;
    }
}

.footer__community {
    margin-top: 60px;
    
    @media (min-width: 768px) {
        margin-top: 0;
        margin-left: 165px;
    }

    @media (min-width: 1200px) {
        margin-left: 70px;
    }
}

.community__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-background-color);
    
    @media (min-width: 768px) and (max-width: 1199px) {
        margin-top: 5px;
    }
    @media (min-width: 1200px) {
        text-align: left;
        margin-top: 12px;
    }
}


