
.contacts {
    display: none;
    
    @media (min-width: 768px) {
        display: block;
        margin-right: 0;
        margin-left: auto;
        }

    @media (min-width: 1200px) {
        display: flex;
         }
}

.contacts__item + .contacts__item {
    margin-top: 10px;

    @media (min-width: 1200px) {
    margin-top: 0;
    margin-left: 30px;
    }
    
}

.contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
    transition-property: color;
    transition-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }

        &:hover,
        &:focus {
            color: var(--accent-color);
}
}

.icon {
    fill: currentColor;
}

.contacts__icon-envelope {
    margin-right: 8px;
    width: 14px;
    height: 10px;

    @media (min-width: 1200px) {
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }
}

.contacts__icon-smartfone {
    margin-right: 8px;
    width: 10px;
    height: 14px;

    @media (min-width: 1200px) {
        margin-right: 10px;
        width: 10px;
        height: 16px;
        }
}