.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
}

.logo__text {
    &--black {
        color: var(--primary-text-color);
    }
    
    &--white {
        color: var(--primary-background-color);
    }
}

