.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    @media (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.2;
        }
}


.logo__text {
    &--black {
        color: var(--primary-text-color);
    }
    
    &--white {
        color: var(--primary-background-color);
    }
}

