.menu-mobile-container {
    padding: 48px 40px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--primary-background-color) ;
    width: 100%;
    height: 100%;
    z-index: 3;

    @media (min-width: 768px) {
        display: none;
    }
}

.svg-close-mobile {
    fill: var(--primary-background-color);
}

.menu-mobile__item {
    position: relative;
}

.menu-mobile__item + .menu-mobile__item {
    margin-top: 32px;
}

.menu-mobile__link {
    display: inline-block;

    padding-bottom: 5px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-mobile__link--current {
    position: relative;
    color: var(--accent-color);


    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        background-color: var(--accent-color);
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }

}