.header {
    border-bottom: var(--border-color-header) 1px solid;
}

.header__container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav__logo {
    margin-right: 93px;
}

