.services {
    padding-top: 0;
}

.services__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.services__list {
    display: flex;
}

.services__item {
    width: 370;
    position: relative;
}

.services__item+.services__item {
    margin-left: 30px;
}

.services__description {
    position: absolute;

    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: var(--overlay-work-description);


    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-background-color);
}