.site-nav {
    position: relative;
    display: flex;
    align-items: center;
}

.site-nav__logo {
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;

    @media (min-width: 768px) {
    margin-right: 88px;
    }
    
    @media (min-width: 1200px) {
    margin-right: 93px;
    }
}

