.team {
    background-color: var(--acccent-background-color);
}

.team__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    @media (min-width:1200px) {
        margin-bottom: 50px;
        font-size: 36px;
      }
}

.team__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    }
}

.team__item {
    width: 100%;
    background-color: var(--primary-background-color);
    box-shadow: var(--shadow-team);
    border-radius: 0px 0px 4px 4px;

    @media (min-width: 768px) {
        flex-basis: calc(50% - 15px);
    }
    
    @media (min-width: 1200px) {
        flex-basis: calc(25% - 22.5px);
    }
}

.team__description {
    text-align: center;

    padding-top: 30px;
    padding-bottom: 24px;

    @media (min-width: 1200px) {
            padding-bottom: 24px;;
        }
    
}

.team__name {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team__speciality {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--title-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}